body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    border: 5px solid rgb(60, 0, 62);
    padding: 20px;
    border-radius: 8px;
}

.headingContainer {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: green;
}

#Heading {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    
}


label, span {
    font-weight: bold;
}

input,select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
select:focus {
    outline: 5px;
    border-color: green;
}

.buttonContainer button{
    border-width: 1px solid green;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
